.prices {
	padding: 80px 0;
	background-color: rgb(44, 44, 69);
	/* .prices_container */

	&__container {}

	/* .prices__title */

	&__title {}

	/* .prices__body */

	&__body {}

	/* .prices__choose-categoryes */

	&__choose-categoryes {
		margin-bottom: 30px;

		select {
			display: block;
			position: relative;
			width: 100%;
			border: 2px solid white;
			padding: 20px 10px;
			font-size: clamp(1.25rem, 1.114rem + 0.68vw, 1.625rem);
			background-color: rgb(44, 44, 69);

			&:focus {
				border: 4px solid green;
			}

			&::before {
				content: "";
				width: 10px;
				height: 10px;
				border-top: 2px solid white;
				border-right: 2px solid white;
				position: absolute;
				right: 0;
				top: 0;
			}

		}
	}

	/* .prices__categoryes */

	&__categoryes {}

	/* .prices__video */

	&__video {}

	/* .prices__alarm-systems */

	&__alarm-systems {}

	/* .prices__acces-control */

	&__acces-control {}
}

//=============caregories======================================

.categoryes {
	// padding: 80px 40px;

	/* .categoryes__item */

	&__item {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		min-height: 100%;
		z-index: 50;
		transition: all 0.5s ease 0s;
		opacity: 0;
		visibility: hidden;
		display: flex;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.9);
		overflow: auto;


		&._active {
			visibility: visible;
			opacity: 1;

			.categoryes__wrapper {
				top: 10%;
				opacity: 1;
				visibility: visible;
			}
		}
	}

	/* .categoryes__wrapper */

	&__wrapper {
		position: absolute;
		top: -100%;
		opacity: 0;
		visibility: hidden;
		width: 70%;
		background-color: rgb(44, 44, 69);
		padding: 40px;
		border: 3px solid white;
		transition: all 0.5s ease 0.3s;
		padding-right: clamp(2.5rem, 1.591rem + 4.55vw, 5rem);
	}

	/* .categoryes__closeButton*/

	&__closeButton {
		position: absolute;
		top: 30px;
		right: 20px;
		display: inline-block;
		width: 40px;
		height: 20px;

		&::after,
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: white;
			left: 0;
			top: 50%;
		}

		&::after {
			transform: rotate(45deg);
		}

		&::before {
			transform: rotate(-45deg);
		}

		@media (max-width:500px) {
			top: 20px;
			right: 10px;
		}
	}

	/* .categoryes__inner */

	&__inner {
		display: flex;
		justify-content: space-between;
		max-width: 800px;
		align-items: start;

		&:not(:last-child) {
			margin-bottom: 30px;
		}

		@media (max-width:767px) {
			flex-direction: column;
			gap: 20px;
			align-items: center;

			label {
				text-align: center;
			}
		}
	}

	/* categoryes__options */

	&__options {
		display: flex;
		justify-content: space-between;
		width: 100%;

		@media (max-width:1110px) {
			flex-direction: column;
			gap: 20px;
			padding-top: 10px;
		}
	}

	/* .categoryes__label */

	&__label {
		font-size: clamp(1.25rem, 1.114rem + 0.68vw, 1.625rem);
	}

	/* .categoryes__input */

	&__input {
		width: 60px;
		height: 40px;
		background-color: rgb(44, 44, 69);
		border: 2px solid white;
		font-size: 22px;
		padding: 5px 10px;
	}

	/* .categoryes__select */

	&__select {
		background-color: rgb(44, 44, 69);
		border: 2px solid white;
		font-size: 22px;
		padding: 5px 10px;
		max-width: 300px;
	}

	/* .categoryes__option */

	&__option {
		color: green;
	}

	/* .categoryes__title */

	&__title {
		text-align: center;
		font-size: 26px;
		font-weight: bold;
		margin-bottom: 30px;
	}

	/* .categortes__additional */

	&__additional {
		width: 100%;
		display: flex;
		flex-direction: column;

		// label {
		// 	display: flex;
		// 	justify-content: space-between;
		// 	margin-bottom: 20px;
		// 	align-items: center;
		// }
	}

	/* .categoryes__res */

	&__res {
		font-size: clamp(1.625rem, 1.489rem + 0.68vw, 2rem);
	}
}

.additional {

	&__title {
		text-align: center;
		font-size: clamp(1.25rem, 1.114rem + 0.68vw, 1.625rem);
		font-weight: bold;
		margin-bottom: 30px;
	}

	&__item {
		display: flex;
		justify-content: space-between;

		&:not(:last-child) {
			margin-bottom: 30px;
		}

		@media (max-width:767px) {
			flex-direction: column;
			gap: 20px;
			align-items: center;

			label {
				text-align: center;
			}
		}
	}
}