.prices {
	padding: 80px 0;
	background-color: rgb(44, 44, 69);
	/* .prices_container */

	&_container {}

	/* .prices__title */

	&__title {
		font-size: clamp(1.75rem, 1.205rem + 2.73vw, 3.25rem);
		text-align: center;
		margin-bottom: 40px;
	}

	/* .prices__body */

	&__body {}

	/* .prices__choose-categoryes */

	&__choose-categoryes {
		margin-bottom: 30px;

		select {
			display: block;
			position: relative;
			width: 100%;
			border: 2px solid white;
			padding: 20px 10px;
			font-size: 32px;
			background-color: rgb(44, 44, 69);

			&:focus {
				border: 4px solid green;
			}

			&::before {
				content: "";
				width: 10px;
				height: 10px;
				border-top: 2px solid white;
				border-right: 2px solid white;
				position: absolute;
				right: 0;
				top: 0;
			}

		}
	}

	/* .prices__categoryes */

	&__categoryes {}

	/* .prices__video */

	&__video {}

	/* .prices__alarm-systems */

	&__alarm-systems {}

	/* .prices__acces-control */

	&__acces-control {}
}


.prices {

	/* .prices__categoryes */

	&__categoryes {}
}

//=============caregories======================================

.categoryes {
	position: relative;
	padding: 80px 40px;

	/* .categoryes__item */

	&__item {
		position: absolute;
		left: -100%;
		top: 0;
		width: 100%;
		// height: 100%;
		border: 3px solid white;
		box-shadow: 1px 15px 30px 8px black;
		// text-align: center;
		transition: all 0.5s ease 0s;
		opacity: 0;
		visibility: hidden;
		padding: 30px;

		&._active {
			left: 0;
			visibility: visible;
			opacity: 1;
		}

		/* .categoryes__item_video */

		&_video {}

		/* .categoryes__item_alarm-system */

		&_alarm-system {}

		/* .categoryes__item_acces-control */

		&_acces-control {}
	}
}



//================calc-video====================================

.calc-video {

	h4 {
		font-size: 26px;
		text-align: center;
		margin-bottom: 20px;
	}

	&>div:not(:last-child) {
		margin-bottom: 30px;
	}

	&>div {
		max-width: 70%;
		display: flex;
		justify-content: space-between;
	}

	label {
		font-size: 24px;
		margin-right: 20px;
	}

	input[type="number"] {
		border: 1px solid white;
		height: 60px;
		padding: 10px;
		font-size: 20px;
		width: 150px;
	}

	select {
		border: 1px solid white;
		padding: 10px;
		font-size: 20px;
	}

	/* .calc-video__amountIndoorCameras */

	&__amountIndoorCameras {}

	/* .calc-video__amountOutdoorCameras */

	&__amountOutdoorCameras {}

	/* .calc-video__installationMethod */

	&__installationMethod {}

	/* .calc-video__aditionalOptions */

	&__aditionalOptions {
		flex-direction: column;
	}

	/* .calc-video__res */

	&__res {
		font-size: 38px;
	}
}

.aditionalOption {

	/* .aditionalOption__items */

	&__items {
		display: flex;
		flex-direction: column;

		input {
			margin-left: 30px;
			width: 30px;
			height: 30px;
		}

		label {
			margin: 0 0 30px 0;
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: space-between;
		}
	}
}