.services {

	padding: clamp(1.25rem, -0.114rem + 6.82vw, 5rem) 0;

	/* .services_container */

	&__container {}

	/* .services__title */

	&__title {
		margin-bottom: clamp(2.813rem, 2.244rem + 2.84vw, 4.375rem);
	}

	/* .services__body */

	&__body {
		display: flex;
		gap: 30px;

		transition: all 0.8s ease 0s;

		@media (max-width:1090px) {
			flex-direction: column;
			gap: 60px;
		}
	}

	/* .services__item */

	&__item {
		flex: 0 1 33%;
		opacity: 0;
		visibility: hidden;
		transition: all 1.2s ease 0s;

		@media (max-width:1090px) {
			padding: 80px;
		}

		&._show {
			opacity: 1;
			visibility: visible;
		}
	}
}

.item-services {

	position: relative;
	border: 5px solid white;
	padding: 50px 20px 20px 20px;
	border-radius: 30px;
	display: flex;
	flex-direction: column;

	// @media (max-width:1090px) {
	// 	padding: 80px;
	// }

	/* .item-services__icon */

	&__icon {
		// display: none;
		position: absolute;
		right: 5%;
		top: 5%;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		border: 3px solid white;


		@media (max-width:1090px) {
			right: 20%;
			top: 8%;
			width: 120px;
			height: 120px;
		}

		@media (max-width:560px) {
			right: 5%;
			top: 5%;
			width: 80px;
			height: 80px;
		}

		@media (max-width:360px) {
			display: none;
		}
	}

	/* .item-services__title */

	&__title {
		position: absolute;
		top: clamp(-1.875rem, -1.989rem + 0.57vw, -1.563rem);
		left: 50%;
		transform: translate(-50%, 0);
		font-size: clamp(1.25rem, 0.977rem + 1.36vw, 2rem);
		padding: 0 clamp(0.938rem, 0.597rem + 1.7vw, 1.875rem);
		background-color: $baseColor;
		z-index: 2;
		text-align: center;
	}

	/* .item-services__options */

	&__options {
		flex: 1 1 auto;
		font-size: clamp(1rem, 0.864rem + 0.68vw, 1.375rem);
		padding: 0 0 0 30px;
		max-width: 200px;

		li {
			list-style: circle;
		}

		margin-bottom: 30px;
	}

	/* .item-services__description */

	&__description {
		border: 3px solid white;
		border-radius: 30px;
		padding: 20px;
		font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
	}
}

.options-services {

	/* .options-services__list */

	&__list {}

	/* .options-services__item */

	&__item {}
}