.top {
	padding-top: 90px;

	/* .top_container */

	&_container {
		position: relative;
	}

	/* .top__title */

	&__title {
		font-size: clamp(1.75rem, 1.205rem + 2.73vw, 3.25rem);
		text-align: center;
		position: absolute;
		top: 5%;
		left: 0;
		width: 100%;
		z-index: 7;
	}

	/* .top__slider */

	&__slider {}
}

.swiper {
	width: 100%;
	height: 600px;
}

.swiper-wrapper {}

.swiper-slide {
	height: 100%;
	padding-top: clamp(5rem, 4.091rem + 4.55vw, 7.5rem);

	&__title {
		position: relative;
		top: 0;
		text-align: center;
		z-index: 5;
		color: white;
		font-size: clamp(1.75rem, 1.205rem + 2.73vw, 3.25rem);
	}
}

.swiper-pagination {}

.swiper-button-prev {}

.swiper-button-next {}

.swiper-scrollbar {}